In [1]:
import numpy as np
import pandas as pd
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [2]:
df = pd.read_csv('data.csv')
df = df.drop(['Date','BTCTOMORROW'], 1)
df.tail(3)

          BTC     ETH   XRP  USDT     BSV     BCH    LTC   EOS    BNB   ADA
670  10242.35  351.11  0.24   1.0  169.58  224.68  47.90  2.76  24.53  0.09
671  10363.14  368.10  0.24   1.0  166.70  227.71  48.72  2.78  24.56  0.10
672  10400.91  374.70  0.24   1.0  167.56  225.54  49.09  2.79  25.45  0.10

In [3]:
df['percent_change'] = ((df['BTC'].shift(-1)-df['BTC'])/df['BTC']) * 100
df.dropna(inplace=True)

# X is the input variable
X = df

# Y is the target or output variable
y = np.where((df['BTC'].shift(-1) - df['BTC']) > 0, 1, 0)
df.tail(10)

,BTC,ETH,XRP,USDT,BSV,BCH,LTC,EOS,BNB,ADA,percent_change
662,11970.48,477.05,0.30,1.00,203.67,292.72,62.88,3.48,24.82,0.13,-4.648519
663,11414.03,440.04,0.28,1.00,183.57,264.12,58.10,3.10,24.69,0.12,-10.239416
664,10245.30,385.67,0.25,1.01,152.35,216.06,47.77,2.64,20.62,0.10,2.601290
665,10511.81,388.24,0.26,1.00,160.56,231.87,50.61,3.01,21.06,0.10,-3.255767
666,10169.57,335.26,0.24,1.00,162.10,225.30,47.59,2.93,19.48,0.09,1.089328
667,10280.35,353.36,0.24,1.00,163.50,228.45,48.05,2.91,23.19,0.09,0.867772
668,10369.56,352.67,0.24,1.00,174.15,228.61,48.77,2.85,22.39,0.09,-2.295565
669,10131.52,337.60,0.24,1.00,170.57,222.54,47.38,2.76,23.19,0.09,1.093913
670,10242.35,351.11,0.24,1.00,169.58,224.68,47.90,2.76,24.53,0.09,1.179319
671,10363.14,368.10,0.24,1.00,166.70,227.71,48.72,2.78,24.56,0.10,0.364465

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [6]:
svcclassifier = SVC()
svcclassifier.fit(X_train, y_train)

SVC()

In [7]:
y_pred = svcclassifier.predict(X_test)
y_pred

array([1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 1, 0])

In [10]:
from sklearn.metrics import accuracy_score
print('Correct Prediction (%): ', accuracy_score(y_test, y_pred, normalize=True) * 100.0)

print(classification_report(y_pred,y_test))

Correct Prediction (%):  51.11111111111111
              precision    recall  f1-score   support

           0       0.26      0.50      0.34        34
           1       0.75      0.51      0.61       101

    accuracy                           0.51       135
   macro avg       0.51      0.51      0.48       135
weighted avg       0.63      0.51      0.54       135